

<div style="position: absolute; top: 0px; left: 0px;"></div>
<div class="popup-overlay" style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; background: rgba(0, 0, 0, 0.5); z-index: 999;">
    <div class="popup-content " style="position: absolute; width: 912px; margin: auto; top: 50%; left: 50%; transform: translate(-456px, -268px); backface-visibility: hidden; min-height: 507px; height: 536px;">
        <div class="popup-body" style="height: 536px;"><div class="QA_mask img_broadcast_mask" style="height: auto;">
            <h2>
                <a href="javascript:void(0)" class="close"></a>
            </h2>
            <div class="img_broadcast_con">
                <h1>长春+长白山4日3晚跟团游(4钻)·〖长白山门票+环保车+天池倒站车全包〗送长白山漂流 品东北菜+宿温泉酒店享温泉泡汤｜ 访朝鲜民俗村 赏天池+长白瀑布+绿渊潭 美人松公园【北京起止动车往返】</h1>
                <div class="mask_score_inf">
                    <span class="score_s">
                        <em>5</em>分
                    </span>
                    <span class="score_s">242人出游</span>
                </div>
                <div class="pic_loop">
                    <div class="big_pic">
                        <div style="width: 600px; height: 336px; margin: 0px auto;">
                            <div class="pil-figure">
                                <div class="pil-figure-placeholder">
                                    <div class="pil-figure-filler" style="padding-bottom: 56%;"></div>
                                    <div class="pil-figure-media">
                                        <img crossorigin="Anonymous" src="//dimg04.c-ctrip.com/images/300u13000000tyk4mFFF9_C_600_336_Q90.jpg" class="pil-figure-image pil-figure-image-anim loaded" width="600" height="336">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="img_tit">
                            <span>1/6</span>
                        </p>
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>
                    </div>
                    <div class="small_pic">
                        <ul>
                            <li class="">
                                <div class="pil-figure">
                                    <div class="pil-figure-placeholder">
                                        <div class="pil-figure-filler" style="padding-bottom: 56.5217%;"></div>
                                        <div class="pil-figure-media">
                                            <img crossorigin="Anonymous" src="//dimg04.c-ctrip.com/images/300u13000000tyk4mFFF9_C_600_336_Q90.jpg" class="pil-figure-image pil-figure-image-anim loaded" width="115" height="65">
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        showProInfo()sessionStorage.getItem("product")
    })
    var count=1;//删除重复的标签
    var imgUrl;//img路径
    var imgList;//img对象集合
    var imgCount;//img总数
    var index=0;//渲染的小img下标
    //点击关闭
    $(".close").click(function () {
        $("body").attr("style","overflow: auto;");
        $(".imvc-view-item>div div").remove();
        window.location.reload();
    })
    //渲染照片
    function showProInfo(data_index) {
        var obj=sessionStorage.getItem("product");
        $(".imvc-view-item>div>div:gt(0)").remove();
        if(count<=1){
            //渲染产品副标题
            $(".img_broadcast_con h1").text(obj.subHead);
            //渲染产品评分和出游总数
            if(obj.travelCount!=null){
                $(".mask_score_inf span").remove();
                if(obj.travelProGrade!=null){
                    $(".mask_score_inf").html("<span class=\"score_s\"><em>"+obj.travelProGrade.productAvgGrade+"</em>分</span><span class=\"score_s score_dp\">"+obj.travelProGrade.count+"条点评</span><span>"+product.travelCount+"<!-- -->人出游</span>");
                }
            }else{
                $(".score_inf").html();
            }
            //渲染大照片
            if((typeof data_index)=="undefined"){
                index=0;
            }else{
                index=data_index;
            };
            //选取小照片模板
            var $temp=$(".small_pic ul li:eq(0)");
            $(".small_pic ul li").remove();
            imgList=obj.imgList;
            imgCount=imgList.length;
            for (var i = 0; i <imgList.length ; i++) {
                //赋值模板
                var $clone=$temp.clone();
                $clone.find(".pil-figure-media img").attr({"src":(imgList[i].imgUrl.indexOf("statics")!=0?"/statics/"+imgList[i].imgUrl:"/"+imgList[i].imgUrl),"data-index":i});
                if(i==index){
                    $clone.attr("class","current");
                }
                if(i>=5){
                    $clone.attr("class"," hidden");
                }
                $(".small_pic ul").append($clone);
            }
            imgUrl=$(".small_pic ul li[class='current']").find("img").attr("src");
            //alert(parseInt(index)+1+"/"+imgList.length)
            //alert($(".big_pic img").attr("src"));
            showBigImg(imgUrl,index);

            $("div[class='pil-figure-media'] img").click(function () {
                $(this).attr("class","current").siblings().attr("class","");
                imgUrl=$(this).attr("src");
                index=$(this).attr("data-index");
                $(this).parent().parent().parent().parent().attr("class","current").siblings().attr("class","");
                showBigImg(imgUrl,index);
            });

        }
        count ++;

    }
    function showBigImg(imgUrl,index) {
        $(".big_pic img").attr("src",imgUrl);
        $(".img_tit span").text((parseInt(index)+1)+"/"+imgCount);
    }
    //点击切换下一张照片
    $(".big_pic a[class='next']").click(function () {
        if(index<imgCount-1){
            index++;
           /* if(index%5==0){
                alert("进入这里")
                $(".small_pic ul li").lt(index).hide();
                /!*$(".small_pic ul li").slice(index+1,index+5).attr("class","")*!/;
                $(".small_pic ul li").eq(index).attr("class","current");
            }*/
        }else{
            index=0;
        }
        imgUrl=$(".small_pic ul li img:eq("+index+")").attr("src");
        $(".small_pic ul li:not("+index+")").attr("class","");
        $(".small_pic ul li:eq("+index+")").attr("class","current")
        showBigImg(imgUrl,index);
    })
    //切换至上一张照片
    $(".big_pic a[class='prev']").click(function () {
        if(index>0){
            index--;
        }else{
            index=imgCount-1;
        }
        imgUrl=$(".small_pic ul li img:eq("+index+")").attr("src");
        $(".small_pic ul li:not("+index+")").attr("class","");
        $(".small_pic ul li:eq("+index+")").attr("class","current")
        showBigImg(imgUrl,index);
    })


</script>
