<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>

</title></head>
<body onload="javascript:AutoSubmit();">
<form name="form1" method="post" action="AutoPost_New.aspx?ctm_ref=hi_0_0_0_0_lst_sr_1_df_ls_1_n_hi_bk_1_0" id="form1">
    <input type="hidden" name="BackURL" id="BackURL"
           value="https://hotels.ctrip.com/internationalbook/inputneworder.aspx?ctm_ref=hi_0_0_0_0_lst_sr_1_df_ls_1_n_hi_bk_1_0"/>
    <input type="hidden" name="ResponseMethod" id="ResponseMethod" value="GET"/>
    <input type="hidden" name="SessionID" id="SessionID" value="0nygcravkw5vpzrvbdpblfpi110121"/>
    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
           value="/wEPDwUKLTg0NTYxMzIxNWRkuIZiGK7WTnbtVm5pvbPXptNzPFPoHmAbesJuZzHmABQ="/>

    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="938917A4"/>
    <div>
    </div>
</form>

<script type="text/javascript" language="javascript">
    function AutoSubmit() {
        document.forms[0].action = "https://passport.ctrip.com/user/login";
        document.forms[0].submit();
    }
</script>

</body>
</html>
