<div id="contact" hidden="" style="display: none;">
    <div class="ttd-mask my-customer-modal-label" style="opacity: 1; z-index: 99;"></div>
    <div style="position: fixed; left: 0px; right: 0px; z-index: 99; transform: translateY(-50%); margin: 0px auto; transition: none 0s ease 0s; bottom: 0px; top: 50%; height: 500px; width: 800px; background: rgba(0, 0, 0, 0);">
        <div class="ttd-layer-box" style="height: auto; width: 100%; background: rgb(255, 255, 255); font-size: 14px;">
            <div class="title-box" style="width: 100%;">
                <div class="cui-text-center"><span style="color:black">新增出行人</span></div>
                <div class="close-btn"><span class="f-close"></span></div>
            </div>
            <div style="height: calc(100% - 60px); overflow-y: auto; padding-bottom: 0px;">
                <div class="person-add-box">
                    <div class="person-add-content">
                        <div class="booking-mod" style="border: none;">
                            <div class="mod-bd">
                                <ul class="booking-list">
                                    <li class="list-item list-item--special c-ticket-booking-passenger passenger-info">
                                        <div class="the-echo-list">
                                            <div class="item">
                                                <div class="ttd-relative g-error g-input-flag">
                                                    <div>
                                                        <div class="tkt_hairline_t item-con g-text-field "><label class="item-label">
                                                            <div class="label-text">中文姓名</div>
                                                            <span class="required">*</span></label>
                                                            <div class="g-text-box"><label class="g-text-field-floating-label" style="opacity: 0;">须与证件上的名字一致</label></div>
                                                            <input type="text" class="nologin-namecn g-text-field-input nofastclick" name="NameCN" value="" placeholder="须与证件上的名字一致">
                                                        </div>
                                                        <div class="ticket_language booking-language"><span class="cn cur">中</span><span class="en ">英</span></div>
                                                        <div id="cName" class="g-error-tip" style="left: 514px;">
                                                            中文姓名不能为空
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-item list-item--special c-ticket-booking-passenger passenger-info">
                                        <div class="the-echo-list">
                                            <div class="item g-error g-input-flag">
                                                <div class="tkt_hairline_t item-con g-text-field "><label class="item-label">
                                                    <div class="label-text">手机</div>
                                                    <span class="required">*</span></label>
                                                    <div class="g-text-box"><label class="g-text-field-floating-label" style="opacity: 0;">请填写手机</label>
                                                    </div>
                                                    <div class="g-error-tip" id="phone">请输入手机号</div>
                                                    <input type="tel" class="g-text-field-input nofastclick nologin-phone" name="MobilePhone" value="" placeholder="请填写手机"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-item list-item--special c-ticket-booking-passenger passenger-info">
                                        <div class="the-echo-list">
                                            <div class="item g-error g-input-flag">
                                                <div class="tkt_hairline_t item-con g-text-field "><label class="item-label">
                                                    <div class="label-text">身份证</div>
                                                    <span class="required">*</span></label>
                                                    <div class="g-text-box"><label class="g-text-field-floating-label" style="opacity: 0;">请填写手机</label>
                                                    </div>
                                                    <div class="g-error-tip" id="identity">请输入证件号码</div>
                                                    <input type="tel" class="g-text-field-input nofastclick nologin-phone" name="identityCard" value="" placeholder="请填写证件号码"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button class="complete-btn" name="complete01">完成</button>
                            <button class="cancel-btn" name="cancel01">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>