.pubFlights_3u,
.pubFlights_8c,
.pubFlights_8l,
.pubFlights_bk,
.pubFlights_ca,
.pubFlights_cn,
.pubFlights_cz,
.pubFlights_eu,
.pubFlights_fm,
.pubFlights_g5,
.pubFlights_gs,
.pubFlights_ho,
.pubFlights_hu,
.pubFlights_kn,
.pubFlights_mf,
.pubFlights_mu,
.pubFlights_ns,
.pubFlights_pn,
.pubFlights_sc,
.pubFlights_zh,
.pubFlights_vd,
.pubFlights_jr,
.pubFlights_ky,
.pubFlights_tv,
.pubFlights_9c,
.pubFlights_jd,
.pubFlights_g8,
.pubFlights_gj,
.pubFlights_dz,
.pubFlights_yi,
.pubFlights_qw,
.pubFlights_dr,
.pubFlights_uq,
.pubFlights_fu,
.pubFlights_aq,
.pubFlights_gx,
.pubFlights_oq,
.pubFlights_a6,
.pubFlights_gy,
.pubFlights_y8,
.pubFlights_ry,
.pubFlights_9h,
.pubFlights_n1,
.pubFlights_da,
.pubFlights_gt,
.pubFlights_lt,
.pubFlights_gi,
.pubFlights_hl,
.pubFlights_zg,
.pubFlights_xi,
.pubFlights_10 {
    padding-left: 18px;
    padding-bottom: 2px;
    background-color: transparent;
    background-image: url(../images/logo_20180727.png);
    background-repeat: no-repeat;
    text-align: left;
    line-height: 15px;
}

.pubFlights_3u {
    background-position: 0 0px;
}

.pubFlights_8c {
    background-position: 0 -32px;
}

.pubFlights_8l {
    background-position: 0 -64px;
}

.pubFlights_bk {
    background-position: 0 -96px;
}

.pubFlights_ca {
    background-position: 0 -128px;
}

.pubFlights_cn {
    background-position: 0 -160px;
}

.pubFlights_cz {
    background-position: 0 -192px;
}

.pubFlights_eu {
    background-position: 0 -224px;
}

.pubFlights_fm {
    background-position: 0 -256px;
}

.pubFlights_g5 {
    background-position: 0 -288px;
}

.pubFlights_gs {
    background-position: 0 -320px;
}

.pubFlights_ho {
    background-position: 0 -352px;
}

.pubFlights_hu {
    background-position: 0 -384px;
}

.pubFlights_kn {
    background-position: 0 -416px;
}

.pubFlights_mf {
    background-position: 0 -448px;
}

.pubFlights_mu {
    background-position: 0 -480px;
}

.pubFlights_ns {
    background-position: 0 -512px;
}

.pubFlights_pn {
    background-position: 0 -544px;
}

.pubFlights_sc {
    background-position: 0 -576px;
}

.pubFlights_zh {
    background-position: 0 -608px;
}

.pubFlights_vd {
    background-position: 0 -640px;
}

.pubFlights_jr {
    background-position: 0 -672px;
}

.pubFlights_ky {
    background-position: 0 -704px;
}

.pubFlights_tv {
    background-position: 0 -736px;
}

.pubFlights_9c {
    background-position: 0 -768px;
}

.pubFlights_jd {
    background-position: 0 -800px;
}

.pubFlights_g8 {
    background-position: 0 -832px;
}

.pubFlights_gj {
    background-position: 0 -864px;
}

.pubFlights_dz {
    background-position: 0 -896px;
}

.pubFlights_yi {
    background-position: 0 -928px;
}

.pubFlights_qw {
    background-position: 0 -960px;
}

.pubFlights_dr {
    background-position: 0 -992px;
}

.pubFlights_uq {
    background-position: 0 -1024px;
}

.pubFlights_fu {
    background-position: 0 -1056px;
}

.pubFlights_aq {
    background-position: 0 -1088px;
}

.pubFlights_gx {
    background-position: 0 -1120px;
}

.pubFlights_oq {
    background-position: 0 -1152px;
}

.pubFlights_a6 {
    background-position: 0 -1184px;
}

.pubFlights_gy {
    background-position: 0 -1216px;
}

.pubFlights_y8 {
    background-position: 0 -1248px;
}

.pubFlights_ry {
    background-position: 0 -1280px;
}

.pubFlights_9h {
    background-position: 0 -1312px;
}

.pubFlights_n1 {
    background-position: 0 -1344px;
}

.pubFlights_da {
    background-position: 0 -1376px;
}

.pubFlights_gt {
    background-position: 0 -1408px;
}

.pubFlights_lt {
    background-position: 0 -1440px;
}

.pubFlights_gi {
    background-position: 0 -1472px;
}

.pubFlights_hl {
    background-position: 0 -1504px;
}

.pubFlights_xi {
    background-position: 0 -1536px;
}

.pubFlights_zg {
    background-position: 0 -1568px;
}

.pubFlights_10 {
    background-position: 0 -1600px;
}
