html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}

body {
    font: 400 12px/1.5 arial, "Microsoft YaHei", Hei;
    color: #333;
}

img, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input, textarea {
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

a {
    color: #2577E3;
    text-decoration: none;
    outline: none;
    cursor: pointer
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-size: 100%;
    font-weight: 400;
}

ul li, ol li {
    list-style: none;
}

dfn {
    margin-right: 2px;
    font: normal 12px Arial;
}

select {
    padding: 1px;
    font-family: Arial, Simsun, sans-serif;
    border: 1px solid #CCC;
    background-color: #FFF;
}

.basefix {
    *zoom: 1;
}

.basefix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}

.base_txtgray {
    color: #CCC;
}

.base_price {
    color: #F60;
    font: normal 18px Tahoma;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text_right {
    text-align: right;
}

.invisible {
    visibility: hidden;
}

.over_hid {
    overflow: hidden;
}

.hidden {
    display: none;
}

.mt20 {
    margin-top: 20px !important;
}

.base_bd {
    max-width: 1180px;
    min-width: 980px;
    width: auto;
    _width: 980px;
    margin: 0 auto;
    *zoom: 1;
    -webkit-font-smoothing: antialiased;
}

.base_bd:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}

.bgf {
    background: #fff;
}

.query-box {
    float: right;
    width: 566px;
    padding-right: 34px;
    padding-left: 36px;
}

.query-box .query-top-title {
    height: 90px;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
}

.query-box .query-top-title h3 {
    color: #333;
    font-size: 28px;
    line-height: 28px;
    padding-top: 35px;
}

.query-box .query-input-top {
    height: 30px;
    padding-top: 37px;
}

.query-box .query-input-top strong {
    font-size: 24px;
    color: #333;
    font-weight: normal;
    line-height: 24px;
    float: left;
    width: 130px;
}

.query-box .query-input-top .radio-input {
    float: left;
    width: 290px;
}

.query-box .query-input-top .radio-input label {
    float: left;
    font-size: 15px;
    width: 85px;
}

.query-box .query-input-top .radio-input label input {
    vertical-align: middle;
    float: left;
    margin-top: 7px;
}

.query-box .query-input-top .radio-input label span {
    vertical-align: middle;
    padding-left: 5px;
    float: left;
    margin-top: 2.5px;
}

.query-box .checkbox-input {
    float: right;
}

.query-box .checkbox-input input {
    float: left;
    margin-top: 7px;
}

.query-box .checkbox-input span {
    float: left;
    margin-top: 5px;
    padding-left: 5px;
}

.query-box .checkbox-input i {
    float: left;
    background: url("../images/icon_notice.png") no-repeat;
    width: 12px;
    height: 12px;
    margin: 8px 0 0 5px;
}

.query-box .query-input-bottom {
    position: relative;
}

.query-box .query-input-bottom .chage-btn {
    width: 26px;
    height: 54px;
    position: absolute;
    background: #000;
    top: 38px;
    left: 142px;
    background: url("../images/icon.png") no-repeat -121px -30px;
    cursor: pointer;
}

.query-box .query-input-bottom .chage-btn:hover {
    background: url("../images/icon.png") no-repeat -149px -30px;
}

.query-box .query-input-bottom ul {
    height: 112px;
}

.query-box .query-input-bottom ul li {
    margin-top: 20px;
    float: left;
}

.query-box .query-input-bottom ul li .txt-input {
    width: 140px;
    height: 34px;
    border-width: 1px;
    border-color: #E0E0E0;
    border-style: solid;
    font-size: 13px;
    line-height: 14px;
    color: #999;
    text-indent: 8px;
}

.query-box .query-input-bottom ul li .list-input {
    width: 140px;
    height: 34px;
    border-width: 1px;
    border-color: #E0E0E0;
    border-style: solid;
    font-size: 13px;
    line-height: 14px;
    color: #999;
    text-indent: 8px;
    width: 198px;
}

.query-box .query-input-bottom ul li .orange-btn {
    width: 200px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: #FF9A00;
    display: block;
    font-size: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.query-box .query-input-bottom ul li .arr {
    width: 0;
    height: 0;
    position: absolute;
    top: 15px;
    right: 11px;
    line-height: 0;
    border-top: 5px solid #999;
    border-bottom: 0 none;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
}

.query-box .query-input-bottom ul li input:focus + .arr {
    border-bottom: 5px solid #06c;
    border-top: 0 none;
}

.query-box .introduce {
    height: 153px;
}

.query-box .introduce h4 {
    padding-top: 59px;
}

.query-box .introduce h4 span {
    display: inline-block;
    background: #7AB4FF;
    color: #fff;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.query-box .introduce p {
    font-size: 15px;
    color: #666;
    line-height: 15px;
    padding-top: 20px;
    position: relative;
}

.query-box .introduce p a {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

.interchange {
    min-width: 320px;
    max-width: 560px;
    width: auto;
    overflow: hidden;
    padding: 20px 0 0 20px;
}

.interchange .top-pic {
    font-size: 0;
}

.interchange .top-pic img {
    width: 100%;
    height: 300px;
}

.interchange .btm-pic {
    height: 78px;
    position: relative;
    margin-top: 4px;
}

.interchange .btm-pic .btm-pic-left {
    float: left;
    width: 20px;
    height: 78px;
    background: #C0F1FF;
    position: relative;
    cursor: pointer;
}

.interchange .btm-pic .btm-pic-left b {
    background: url("../images/icon.png") no-repeat -98px -45px;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -7.5px;
}

.interchange .btm-pic .btm-pic-left:hover {
    background: #A6EBFF;
}

.interchange .btm-pic .btm-pic-left:hover b {
    background: url("../images/icon.png") no-repeat -85px -45px;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -7.5px;
}

.interchange .btm-pic .btm-pic-right {
    float: right;
    width: 20px;
    height: 78px;
    background: #C0F1FF;
    position: relative;
    cursor: pointer;
}

.interchange .btm-pic .btm-pic-right b {
    background: url("../images/icon.png") no-repeat -62px -45px;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -7.5px;
}

.interchange .btm-pic .btm-pic-right:hover {
    background: #A6EBFF;
}

.interchange .btm-pic .btm-pic-right:hover b {
    background: url("../images/icon.png") no-repeat -73px -45px;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -7.5px;
}

.interchange .btm-pic div {
    max-width: 480px;
    width: auto;
    overflow: hidden;
}

.interchange .btm-pic div ul {
    width: 2000px;
}

.interchange .btm-pic div ul li {
    float: left;
    width: 116px;
    height: 78px;
    margin-left: 4px;
    cursor: pointer;
}

.interchange .btm-pic div ul li img {
    width: 100%;
    height: 78px;
}

.other-right {
    float: right;
    width: 268px;
    background: #fff;
}

.other-right .other-title {
    padding: 20px 0 0 1px;
    height: 52px;
}

.other-right .other-title h3 {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    padding-left: 22px;
    border-left: 8px solid #1D74E6;
}

.other-right .other-pic {
    padding: 0 0 0 27px;
}

.other-right .other-pic li {
    margin-bottom: 10px;
    position: relative;
}

.other-right .other-pic li img {
    width: 216px;
    height: 223px;
}

.d-wrapper {
    margin-right: 280px;
}

.Raiders-top-pic .Raiders-img {
    font-size: 0;
}

.Raiders-top-pic .Raiders-img img {
    width: 100%;
    height: 320px;
}

.Raiders-top-pic .Raiders-icon {
    height: 60px;
    position: relative;
}

.Raiders-top-pic .Raiders-icon i {
    width: 84px;
    height: 84px;
    position: absolute;
    left: 75px;
    top: -53px;
}

.Raiders-top-pic .Raiders-icon h3 {
    font-size: 34px;
    color: #fff;
    position: absolute;
    top: -60px;
    left: 180px;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list {
    padding: 18px 0 0 180px;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list li {
    padding-right: 42px;
    float: left;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list li b {
    float: left;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list li b.share-icon {
    width: 16px;
    height: 16px;
    background: url("../images/icon.png") no-repeat -127px 0;
    margin-top: 3px;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list li b.like-icon {
    width: 16px;
    height: 15px;
    background: url("../images/icon.png") no-repeat -30px -45px;
    margin-top: 3px;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list li b.browse-icon {
    width: 20px;
    height: 14px;
    background: url("../images/icon.png") no-repeat -96px 0;
    margin-top: 3px;
}

.Raiders-top-pic .Raiders-icon .Raiders-icon-list li span {
    float: left;
    padding-left: 7px;
    font-size: 14px;
    color: #666;
}

.Raiders-wrapper {
    margin-right: 268px;
}

.Raiders-right {
    float: right;
    width: 250px;
}

.Raiders-right .Raiders-list {
    width: 222px;
    background: #fff;
    padding: 14px;
}

.Raiders-right .Raiders-list dt {
    height: 30px;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
}

.Raiders-right .Raiders-list dt h4 {
    font-size: 18px;
    color: #333;
    padding-left: 31px;
    position: relative;
}

.Raiders-right .Raiders-list dt h4 em {
    position: absolute;
    background: url("../images/icon.png") no-repeat -70px 0;
    width: 16px;
    height: 18px;
    left: 3px;
    top: 4px;
}

.Raiders-right .Raiders-list dd {
    padding-top: 10px;
}

.Raiders-right .Raiders-list dd a {
    display: block;
    font-size: 14px;
    color: #999;
    height: 30px;
    line-height: 30px;
    padding-left: 26px;
}

.Raiders-right .Raiders-list dd a.current {
    color: #333;
    position: relative;
}

.Raiders-right .Raiders-list dd a.current em {
    width: 9px;
    height: 10px;
    background: url("../images/icon.png") no-repeat -44px -1px;
    position: absolute;
    left: 6px;
    top: 10px;
}

.Raiders-right .Mention {
    width: 222px;
    background: #fff;
    padding: 14px;
    margin-top: 10px;
}

.Raiders-right .Mention dt {
    height: 30px;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
}

.Raiders-right .Mention dt h4 {
    font-size: 18px;
    color: #333;
    padding-left: 31px;
    position: relative;
}

.Raiders-right .Mention dt h4 em {
    position: absolute;
    background: url("../images/icon.png") no-repeat 0px -40px;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 4px;
}

.Raiders-right .Mention dd {
    padding-top: 10px;
}

.Raiders-right .Mention dd li {
    padding: 3px 0;
}

.Raiders-right .Mention dd a {
    display: block;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    padding-left: 26px;
    position: relative;
}

.Raiders-right .Mention dd a:hover {
    color: #1D74E6;
}

.Raiders-right .Mention dd a em {
    width: 4px;
    height: 4px;
    background: #E0E0E0;
    position: absolute;
    left: 10px;
    top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Raiders-right .question {
    width: 222px;
    background: #fff;
    padding: 14px;
    margin-top: 10px;
}

.Raiders-right .question dt {
    height: 30px;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
}

.Raiders-right .question dt h4 {
    font-size: 18px;
    color: #333;
    padding-left: 31px;
    position: relative;
}

.Raiders-right .question dt h4 em {
    position: absolute;
    background: url("../images/icon.png") no-repeat 0px -40px;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 4px;
}

.Raiders-right .question dd {
    padding-top: 10px;
}

.Raiders-right .question dd li {
    padding: 3px 0;
}

.Raiders-right .question dd a {
    display: block;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    padding-left: 26px;
    position: relative;
}

.Raiders-right .question dd a:hover {
    color: #1D74E6;
}

.Raiders-right .question dd a em {
    width: 4px;
    height: 4px;
    background: #E0E0E0;
    position: absolute;
    left: 10px;
    top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Raiders-right .question dt h4 em {
    position: absolute;
    background: url("../images/icon.png") no-repeat -154px 0px;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 4px;
}


#content {
    font: 400 12px/1.5 arial, "Microsoft YaHei", Hei;
    color: #333;
    font-size: 14px;
}

#content h1 {
    font-weight: bold;
    font-size: 18px;
}

#content h2 {
    font-weight: bold;
    font-size: 16px;
}