
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../statics/css/private_user_1.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../statics/css/reg.956c5e3c.css"/>
    <title>携程旅行网-账户安全</title>
    <script src="js/jquery-1.12.4.min_6.js"></script>
    <!--[if lte IE 9]>
    <script src='js/jquery.xdomainrequest.min_6.js'></script>
    <script src="js/json2.min_5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        ;
        (function () {
            if (!(window.$_bf && window.$_bf.loaded || window.$LAB || window.CtripJsLoader)) {
                var a = new Date, b = !1, c = "?v=" + a.getFullYear() + a.getMonth() + "_" + a.getDate(), a = document.createElement("script");
                a.type = "text/javascript";
                a.charset = "utf-8";
                a.async = !0;
                try {
                    b = "https:" == location.protocol
                } catch (d) {
                }
                a.src = ((b ? "https:" : "http:")) + "//webresource.c-ctrip.com/code/ubt/_bfa.min.js" + c;
                b = document.getElementsByTagName("script")[0];
                b.parentNode.insertBefore(a, b)
            }
        })();
    </script>

    <script src="js/captcha.min_6.js"></script>

    <script>
        $ = window.jQuery ? window.jQuery : {};
    </script>

    <style type="text/css" media="screen">
        .cui_hd,
        .cui_nav {
            max-width: 1004px !important;
            min-width: 1004px !important;
            width: 1004px;
        }
    </style>
</head>
<body>




<input id="page_id" type="hidden" value="10320670281" />
<div class="cui_bd cui_bd cui_bd_bdt">
    <ul class="reg_step">
        <li class="current"><span></span>验证手机</li>
        <li class="current"><span></span>设置密码</li>
        <li><span></span>注册成功</li>
    </ul>
  <div class="page_wrap">

    <div class="reg_form">
      <dl>
        <dt class="label">用户名</dt>
        <dd><input class="r_input" maxlength="20" type="text" id="userName" placeholder="用户名" /></dd>
      </dl>
      <div class="base_error" id="errOldPassword" style="display: none;"></div>

      <dl>
        <dt class="label">密码</dt>
        <dd><input class="r_input input_l" type="password" maxlength="20" placeholder="8-20位字母、数字和符号" id="password1"></dd>
        <dd>
          <ul class="box_pas_safety">
            <li id="strongPwd1">弱</li>
            <li id="strongPwd2">中</li>
            <li id="strongPwd3">强</li>
          </ul>
        </dd>
      </dl>
      <div class="base_error" id="errPassword" style="display: none;"></div>
      <dl>
        <dt class="label">确认密码</dt>
        <dd><input class="r_input" type="password" maxlength="20" id="password2" placeholder="再次输入密码" /></dd>
      </dl>
      <div class="base_error" id="errRepassword" style="display:none"></div>

      <dl class="form_space">
        <dt class="label">&nbsp;</dt>
        <dd><input class="reg_btn" type="button" id="btnSubmit" value="完成" /></dd>
        <!--
        <dd><input class="reg_btn_disabled" type="submit" value="完成" /></dd>
        -->
      </dl>
    </div>
  </div>

</div>

<!--
<script type="text/javascript" src="js/js-apss_6.js"
        charset="utf-8"></script>
-->
<script>
  $(document).ready(function () {
      //校验用户名：



    //清除后退时的缓存数据
    clearInput();
    $("#page_id").val("10320670281");
    //绑定获得焦点后，error提示消失
    modifypasswordBindFocusEvent();
    //校验密码强度
    $("#password1").bind("keyup", function () {
      checkPwdStrength($("#password1"), $("#errPassword"), $("#strongPwd1"), $("#strongPwd2"), $("#strongPwd3"));
    });


    /*//提交修改
    $("#btnSubmit").bind("click",function() {
        alert("注册成功！");
    });*/



  });
</script>



</body>

<script src="js/simpleheaderjs.js" charset="utf-8"
        type="text/javascript"></script>
<script src="js/commoncomponent_5.js"
        charset="utf-8"></script>
<script src="js/base64_5.js"
charset="utf-8"></script>
<script src="js/paramconfig_5.js"
        charset="utf-8"></script>
<script id="cusersdk" src="js/caccount_seed.95df3734.js"></script>
<script type="text/javascript" src="js/asterisk_5.js"></script>


<script src="js/accountsecurity.ca8a92fe.js" charset="utf-8"></script>

<script src="js/safecentermsg.js" charset="utf-8"></script>

<script type="text/javascript">
    (function () {
        var url = '//webresource.c-ctrip.com/resaresonline/risk/ubtrms/latest/default/rms.js', timeout = 10;
        var now = new Date();
        setTimeout(function () {
            var f = document.createElement('script')
            f.type = 'text/javascript';
            f.id = 'scrmsd__script';
            f.async = true;
            f.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + url + "?v=" + now.getYear() + now.getMonth() + "-" + now.getDate();
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(f, s);
        }, timeout);
        window.scrmsd__startScriptLoad = 1 * new Date();
    })();
</script>


</html>
<script src="../../statics/js_myt/layui/layui.all.js"></script>
<script src="../../statics/js_myt/common.js"></script>
<script src="js_three/setPassword.js"></script>

